.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-top: 5px;
    margin-top: 5px;
    
    
}

.text-input {
    width: 75% ;
}

.button-container {
    width: 24%;
    height: 100%;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    
}

.button-container > button {
    margin-left: 5px;
}

/* textarea {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    background-color: #0f0f0f98;
} */