.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-top: 5px;
    margin-top: 5px;
    
    
}

.text-input {
    width: 75% ;
}

.button-container {
    width: 24%;
    height: 100%;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    
}

.button-container > button {
    margin-left: 5px;
}